header {
  width: 100%;
  background-color: lightgray;
  display: flex;
  box-sizing: border-box;
  justify-content: space-between;
  padding: 20px 40px;
}
.header_p {
  font-weight: bold;
  font-size: larger;
}

header > ul {
  list-style: none;
  display: flex;
  gap: 15px;
}

ul > li {
  transition: scale ease-in 1s;
}
ul > li:hover {
  scale: 1.05;
  font-weight: 500;
  cursor: pointer;
  border-bottom: 1px solid;
}
